* {
  font-family: 'Inter', sans-serif;
}




/* Navbar */

.navbar{
  padding: 10px 60px;
}
.navbar-brand{
  font-weight: 700;
  color: rgb(1, 70, 1);
}
.navbar .nav-item{
  margin: 0 30px;
}
.navbar i{
  margin: 0 6px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}

.navbar input{
  border: none;
  outline: none;
  background-color: white;
 
}





/* ------------------------------------------------------ */