* {
  font-family: 'Inter', sans-serif;
}




/* Navbar */

.navbar{
  padding: 10px 60px;
}
.navbar-brand{
  font-weight: 700;
  color: rgb(1, 70, 1);
}
.navbar .nav-item{
  margin: 0 30px;
}
.navbar i{
  margin: 0 6px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}

.navbar input{
  border: none;
  outline: none;
  background-color: white;
 
}





/* ------------------------------------------------------ */


/* Banner---------------------------------- */

.banner{
  padding: 30px 60px;
  width: 100%;
}
.banner .text-banner{
  z-index: 1;
  position: absolute;
  font-weight: bold;
  top: 170px;
  left: 150px;
}
.banner h2{
  font-weight: bold;
  font-size: 36px;
}

  .banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.banner .buy-btn{
  width: 200px;
  height: 41px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
}


/* Cat Btns=================== */

.cat-btns{
  margin: 30px 60px;
  justify-content: space-between;
}
.cat-btns .fltr{
  margin-right: 0;
}
.cat-btns button{
  margin-right: 20px;
  width: 80px;
  height: 41px;
  border-radius: 50px;
  background-color: #f8f9fa;
  color: black;
  border: none;
}
/* =======================Items=============================== */
.row .item{
  height: fit-content;
  border-radius: 12px;
  width: 320px;
  justify-content: center;
}
.items .item-img{
  height: 250px;
  width: auto;
  /* background-color: #f8f9fa; */
  margin: 0; 
  object-fit: contain;
}
.item-img img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
.items .stars{
  color: black;
}
.items .item-details{
  padding: 5px;
}
.item-details .addCart{
  border-radius: 20px;
}
.item-details .item-heading{
  justify-content: space-between;
  margin-top: 8px;

}
.item-heading .item-name{
  font-size: 1.2rem;
  font-weight: 600;
}
.item-heading .item-price{
  font-size: 1.2rem;
  font-weight: 600;
}
.item-details .btn-like{
  justify-content: space-between;
  align-items: center;
}
.btn-like .like{
  font-size: 24px;
}


.item {
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.items{
  margin: 20px;
}

.rowMItems{
  margin: 0 40px;
}

